html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  
}
.fixed-top{
   
}
header {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease; /* Эффект плавной смены цвета */
   
}
.navbar {
    background-color: transparent !important;
}

    header.scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный цвет фона */
         /* Непрозрачный цвет фона при скролле */
    }
body {
  margin-bottom: 60px;
  margin-top:5%;
}
.search-form {
    display: flex;
    margin-right: 20px;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-submit {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .search-submit:hover {
        background-color: #0056b3;
    }


#cart-info {
    position: absolute;
    top: 110%;
    right:0.5%;
    width: 200px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
}
.korzina-link {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    text-decoration:none;
}
.other-link {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    text-decoration: none;
}